.App {
  text-align: center;
  /* background-color: lightgreen; */
}
.naviga{
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  background-color: red;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(9, 9, 9, 0.23);
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  
}
.btn{
  border: none;
  padding: 0px 20px;
  height: 40px;
}
ul{
  display: flex;
}
li{
  list-style-type: none;
  margin-right: 10px;
  font-size: 20px;
}
.hamburger{
  height: 40px;
  width: 40px;
  background-color: orange;
  margin: 30px;
  cursor: pointer;
  
}
.logo{
  margin-left: 15px;
  font-size: 19px;
  font-weight: 900;
  color: #fff;
}
@media screen and (max-width:500px){
  .hamburger{
    display: block;
  }
  ul{
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100px;
    background-color: gray;
    display: none;
  }
}
