.active{

    background-color: black;
}
.link{
   background-color:  orange;
}
.stone{
    display: flex;
    margin-right: 62.8px;
    margin-left: 62.8px;
    justify-content: space-between;
}
span{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h4{
    position: absolute;
    bottom: 310px;
    margin-left: 80px;
    word-spacing: 7px;

}
.yoman{
    position: absolute;
    top: 350px;
    width: 150px;
    height:50px;
    left: 250px;
    cursor: pointer;
}
h1{
    margin-top: 100px;
    letter-spacing: 15px;
}
.cont{
    position: absolute;
    top: 375px;
   
    left: 170px;
}
.army{
    height: 400px;
    width: 400px;
    border-radius: 50%;

}
.shift{
text-align: left;
margin-left: 65px;


}
button:hover{
    color: white;
    font-size: larger;
    background-color: black;
}
